::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #B3AFB3;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B3AFB3;
}

::-webkit-scrollbar-track {
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

html, body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

textarea:focus, input:focus {
    outline: none;
}

.panel-body {
    display: grid;
    grid-template-columns: 1fr 5fr 15fr 5fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    position: relative;
    z-index: 4;
    background-color: #08364D;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}

.contacts-lists {
    position: relative;
    z-index: 3;
    background-color: #CCCCCC;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px black;
}

.fila-button {
    display: grid;
    grid-template-columns: 9fr 2fr;
    background-color: #0D5C7C;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    margin-top: 2vh;
    font-size: 1.2em;
}

.fila-white-box {
    background-color: white;
    color: black;
    border-radius: 5px;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fila-button:hover {
    background-color: #3F84AD;
    cursor: pointer;
}

.calls-list {
    margin: 5px;
    margin-top: 2vh;
}

.calls-list-title {
    background-color: #08364D;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
}

.calls-list-group {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 15vh;
    max-height: 35vh;
}

.ativo-header {
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.ativo-search {
    display: grid;
    grid-template-columns: 8fr 2fr;
    background-color: transparent;
    border: none;
    padding: 0px;
    font-size: 0.8em;
    text-align: center;
}

.ativo-search:hover span {
    background-color: #336E8C;
    cursor: pointer;
}

.ativo-search:hover div {
    cursor: pointer;
}

.ativo-search-span {
    background-color: #0D5C7C;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: none;
    box-sizing: content-box;
}

.ativo-search-icons {
    background-color: #1F2338;
    color: white;
    padding: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: content-box;
}

.user-list-item {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    border-bottom: solid black 1px;
    font-size: 0.8em;
    max-height: 8vh;
    padding: 5px;
    white-space: nowrap
}

.user-list-item:hover{
    background-color: #D8D8D3;
}

.user-list-item-message-group {
    display: inline-block;
    content: '';
}

.user-list-item-message-content {
    display: inline-block;
    white-space: nowrap;
    color: gray;
}

.user-list-item-avatar {
    box-sizing: content-box;
    border-radius: 50%;
    max-height: 6vh;
}

.user-list-item-text-group {
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.user-list-item-time-group {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.chat-section {
    position: relative;
    z-index: 2;
    background-color: #E6E6E6;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px black;
}

.chat-group {
    display: grid;
    grid-template-rows: 6% 94%;
    background-color: #E6E6E6;
    margin: 25px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    box-shadow: 5px 5px 20px black;
    border-radius: 10px;
}

.chat-header {
    display: grid;
    grid-template-columns: 1fr 13fr 3fr;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #08364D;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-header-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.chat-header-close-button {
    background-color: #128C7E;
    color: white;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.chat-header-close-button:hover {
    background-color: #BC4444;
    cursor: pointer;
}

.chat-avatar-icon {
    border-radius: 25px;
    max-height: 4vh;
}

.chat-body {
    display: grid;
    grid-template-rows: 9fr 1fr;
    width: 100%;
    height: 100%;
    background-color: #08364D;
    max-height: 89vh;
    background-image: url('../images/chatBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chat-body-input {
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat-body-input-box {
    display: grid;
    grid-template-columns: 8% 76% 8% 8%;
    background-color: white;
    border-radius: 15px;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.chat-body-input-box-text {
    max-width: 100%;
    font-size: 1.6em;
    border: none;
    color: black;
}

.chat-body-input-box>div>input {
    width: 100%;
    font-size: 1.6em;
    border: none;
}

.chat-body-input-box-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-body-input-box-icon-div:hover {
    cursor: pointer;
}

.chat-body-input-icons {
    max-height: 5vh;
}

.chat-body-messages {
    display: grid;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 100%;
    overflow: auto;
}

.chat-body-messages-block-right {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: 1vh;
    margin-right: 2vh;
    margin-bottom: 1vh;
    max-width: 50%;
    padding: 5px;
    border-radius: 5px;
    background-color: #8CEAEA;
    color: black;
    box-shadow: 2px 2px 0px #4D4D4D;
    margin-left: auto;
}

.chat-body-messages-block-right-time {
    align-self: flex-start;
    color: #4D4D4D;
    margin-top: 5px;
    font-size: 0.7em;
}

.chat-body-messages-block-right::after {
    border: 8px solid;
    border-color: #8CEAEA transparent transparent #8CEAEA;
    content: '';
    height: 0;
    right: -13px;
    position: absolute;
    width: 0;
    bottom: 2px;
}

.chat-body-messages-block-right::before {
    border: 6px solid;
    border-color: #4D4D4D transparent transparent #4D4D4D;
    content: '';
    height: 0;
    right: -13px;
    position: absolute;
    width: 0;
    bottom: 3px;
}

.chat-body-messages-block-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 1vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
    max-width: 50%;
    padding: 5px;
    border-radius: 5px;
    background-color: #8EEDA3;
    color: black;
    box-shadow: 2px 2px 0px #4D4D4D;
    margin-right: auto;
}

.chat-body-messages-image {
    max-width: 50vw;
    max-height: 40vh;
    border-radius: 5px;
}

.chat-body-messages-block-left-time {
    align-self: flex-end;
    color: #4D4D4D;
    margin-top: 5px;
    font-size: 0.7em;
}

.chat-body-messages-block-left::after {
    border: 8px solid;
    border-color: #8EEDA3 #8EEDA3 transparent transparent;
    content: '';
    height: 0;
    left: -13px;
    position: absolute;
    width: 0;
    bottom: 2px;
}

.chat-options-lists {
    position: relative;
    z-index: 1;
    background-color: #CCCCCC;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px black;
}

.chat-options {
    margin: 15px;
    margin-top: 2vh;
}

.chat-options-title {
    background-color: #08364D;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
}

.chat-options-group {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 10vh;
    max-height: 35vh;
}

.chat-options-group-buttons {
    background-color: #128C7E;
    color: white;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 1.1em;
    margin: 5px;
}

.chat-options-group-buttons>i{
    margin-right: 5px;
}

.chat-options-group-buttons:hover{
    background-color: #036A56;
    cursor: pointer;
}

/***/
.chat-info {
    margin: 15px;
    margin-top: 2vh;
    position: absolute;
    bottom: 0;
}

.chat-info-title {
    background-color: #08364D;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
}

.chat-info-group {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 10vh;
    max-height: 35vh;
}

.chat-info-group-buttons {
    background-color: #E6E6E6;
    color: black;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 0.9em;
    margin: 5px;
}

.chat-info-group-buttons>i{
    margin-right: 5px;
}

.chat-info-group-buttons:hover{
    background-color: #B4B4B4;
    cursor: pointer;
}